.App {
  text-align: center;
}

.productsList{
  overflow-y: scroll;
  clear:both;
}

#headerList{
  color:aliceblue;
  background-color: #115f11;
  width:25%;
  float:left;
  text-align: start;
}

#headerTitle{
  color:aliceblue;
  background-color: #115f11;
  width: 75%;
  height: 95px;
  float:left;
}

#stopka {
  width: 100%;
  color:aliceblue;
  background-color: #115f11;
  height: 40px;
}
